:root{
    --hfont:  'Oswald', sans-serif;
    --pfont : 'Open Sans', sans-serif;
    --brand: #e23e38;
    --hcol: #353535;
    --pcol: #777777;
    --membg : #dddddd;
    --bg1 : #f1f1f1;
}

*{
    padding: 0;
    margin: 0;
}

img{
    vertical-align: middle;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* ===================
    common css ends
===================== */
.navbar{
    background: rgba(53, 53, 53, 0.25);
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 9999;
    width: 100%;
}
.navbar .navbar-brand{
    background: var(--hcol);
    padding: 10px 15px !important;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
}

.navbar .navbar-brand img{
    transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    -moz-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    -o-transform: skewX(30deg);
}

.navbar .navbar-nav .nav-item .nav-link{
    line-height: 50px;
    padding: 0 10px !important;
    font-family: var(--hfont);
    font-weight: 400;
    font-size: 14px;
    position: relative;
    z-index: 1;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: var(--hcol) !important;
}

.navbar .navbar-nav .nav-item .nav-link::before{
    content: '';
    width: 100%;
    height: 0%;
    background-color: #fff;
    position: absolute;
    top:0;
    left: 0;
    z-index: -2;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

.navbar .navbar-nav .nav-item .nav-link:hover::before{
    height: 100%;
}

.navbar .navbar-nav .nav-item .nav-link::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--brand);
    position: absolute;
    bottom:0;
    left: 0;
    z-index: -1;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

.navbar .navbar-nav .nav-item .nav-link:hover::after{
    width: 100%;
}


.navbar .navbar-nav .nav-item:last-child .nav-link{
    padding-right: 0 !important;
}
/* ===================
    navbar css ends
===================== */


